= content_for :meta do
  %meta{:content => "Contribute to ||#{@mixtape.name}||, a mixtape by #{@mixtape.owner.name}.", :property => "og:title"}/
  %meta{:content => "Add your top tracks from Spotify with a click of a button.", :property => "og:description"}/


.container
  .row
    .col-md-7
      %h1
        = @mixtape.name
        %span.badge
          = @mixtape.contributions.count
      - unless user_signed_in? && current_user.contributes?(@mixtape)
        %hr
        .row
          .col-md-12.text-center
            = link_to contribute_mixtape_path(@mixtape), class: 'btn btn-accent', data: { disable_with: 'Loading...' }, role: 'button' do
              %i.fa.fa-lg.fa-spotify{"aria-hidden" => "true"}
              Contribute to this mixtape
      %hr
      .row
        - @mixtape.contributions.each do | contribution |
          .profile-picture.col-xs-4.col-sm-2{:style => "background-image: url(#{contribution.user.avatar_url})", :alt => contribution.user.name, :title => contribution.user.name}
    .col-md-5
      %iframe{:allowtransparency => "true", :frameborder => "0", :height => "420", :src => "https://embed.spotify.com/?uri=spotify:user:#{@mixtape.owner.uid}:playlist:#{@mixtape.playlist_id}&theme=white", :width => "100%"}
      - if current_user == @mixtape.owner
        = link_to 'Delete this mixtape forever', mixtape_path(@mixtape), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger center-block'
