!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}/
    %title zeroswag-the-playlist
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag
    %meta{:content => "http://mixtape.mobil.ninja", :property => "og:url"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "Automatic Spotify Playlists", :property => "og:title"}/
    %meta{:content => "Host an event and generate playlists automatically based on the taste of your participants.", :property => "og:description"}/
    %meta{:content => asset_url("tile.jpg"), :property => "og:image"}/
  #swag.hidden
  %body
    = render 'header'
    - flash.each do |key, value|
      = content_tag :div, value, class: "flash #{key}"
    %section{class: controller_name}
      = yield
    %footer.vertical-aligned
      %p.text-center
        made by
        %a{:href => "mailto:zeroswag@mobil.ninja", :title => "Send an email to zeroswag-the-team"} zeroswag-the-team
        - if user_signed_in?
          ||
          = link_to 'log out', destroy_user_session_path, method: :delete
